* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #003b9f;
}

main {
    padding-bottom: 50px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}




.css_section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: gold;
    font-size: 40px;
    padding-top: 10px ;
    padding-bottom: 10px ;
    border-bottom: 2px solid goldenrod;
    width: 100%;
    text-align: center;
}

.articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.my_article {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 320px;
    padding: 10px;
}




.my_article h3 {
    color: white;
    font-size: 27px;
    font-weight: bold;
}

p {
    padding: 20px;
    color: ghostwhite;
    font-size: 17px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 125px;
    text-align: center;
    font-size: 17px;
    color: #e1e1e1;

}

button {
    color: white;
    padding: 10px 30px;
    border: white solid 1px;
    border-radius: 50px;
    background-color: rgba(0,0,0,0);
    font-size: 16px;
    font-weight: bold;
}

img {
    width:300px;
    height: 200px;
    text-align: center;
}