* {
    box-sizing: border-box;
}


main {
    padding-bottom: 50px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}




.articles {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.my_article {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    width: 320px;
    padding: 10px;
}




.my_article h3 {
    color: white;
    font-size: 27px;
    font-weight: bold;
}

.my_article p {
    padding: 20px;
    color: ghostwhite;
    font-size: 17px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 125px;
    text-align: center;
    font-size: 17px;
    color: #e1e1e1;

}

button {
    color: white;
    padding: 10px 30px;
    border: white solid 1px;
    border-radius: 50px;
    background-color: rgba(0,0,0,0);
    font-size: 16px;
    font-weight: bold;
}

img {
    width:300px;
    height: 200px;
    text-align: center;
}