* {
    box-sizing: border-box;
}
body {
    font-family: "Nunito Sans", sans-serif;
}

.hidden {
    display: none !important;
}

:root {
    --primary-color: #FF0000;
    --secondary-color: #FFFFFF;
}


.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.container {
    margin: 0 auto;
    max-width: 1088px;
    border: #ff4d00 0px solid;
}

.page-header {
    position: relative;
    background-image: url("../images/Image.png");
    z-index: 0;
    /*background-color: green;*/
    background-position: center;
    background-size: cover;
    /*height: 807px;*/
    height: calc( 100vh - 56px /2  );
}


.page-header-navbar {
    background-color: rgba(0,50,0,0.2);
    height: 90px;
}

.page-header-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.dot {
    background: var(--primary-color);;
    width: 56px;
    height: 56px;
    display: block;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    bottom: -28px;
    left: 50%;
    transform: translate(-28px);

    background-image: url("../images/Icon Arrow Down.svg");
    background-position: center;
    background-repeat: no-repeat;
}


.page-header-navbar-short {
    display: flex;
    justify-content: space-between;
    min-width: 950px ;
    /*background-color: darkgreen;*/
}

.navbar-logo {
    height: 90px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap:10px;
    z-index: 1;
    /*background-color: #146214;*/
}

.navbar-nav {
    /*background-color: #05A081;*/
    z-index: 1;

}

.page-logo--img {

}
.page-logo--text {
    color: var(--secondary-color);
    font-size: 35px;
    line-height: 47px;
    font-weight: 700;
}
.page-logo--text span {
    color: var(--primary-color);
}

.page-nav-list {
    display: flex;
}

.page-nav-list li a {
    padding: 33px 40px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
}

.page-nav-list li a:hover {
    color: #213131;
    background-color: rgba(255,255,255,0.5);
}





.page-header::before {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 0;
}


/* BANNER */
.banner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.banner-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: 1;
}

.banner-text {
    color: var(--secondary-color);
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.banner-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 120px;
    padding-top: 50px;
    z-index: 1;
}

.btn {
    border: 0;
    border-radius: 40px;
    font-size: 16px;
    line-height: 22px;
    padding: 22px 55px;
    text-transform:   uppercase ;
    font-family: "Nunito Sans", sans-serif;
}

.btn:hover {
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 700;
}

.btn--secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 700;
}


/* blog begin */

.blog-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 75px;
}

.blog-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    color: black;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.blog-articles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: #0045ff 0px solid;
    gap: 10px;
}

.blog-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 352px;
    height: 433px;
}

.blog-article-article-row {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.blog-article-btn-row {
    display: flex;
    justify-items: center;
    align-items: end;
}

.blog-article-photo-img {
    width: 352px;
    height: 234px;
}


.blog-article-title {
    padding-top: 24px;
    font-size: 17px;
    line-height: 26px;
    color: #6A6A6A;
    text-transform: uppercase;
}

.blog-article-text {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    color: #6A6A6A;
    font-family: 'Open Sans', sans-serif;
}




.blog-article-btn {
    color: #F35044;
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    line-height: 19px;
    padding: 11px 29px 8px 29px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-transform: uppercase;
    box-shadow: 0px 3px 6px #FF00004D;
    font-weight: 700;
}







/* blog end */


/* service begin */

.service-section-wide {
    background-color: #28272C;
}

.service-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 100px;
}



.service-articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}

.service-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    color: white;
    text-align: center;
    width: 100%;
    padding-bottom: 75px;
    text-transform: uppercase;
}

.subTitle::before,
.subTitle::after {
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background: var(--primary-color);
    margin: 0 10px;
}

.service-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
}

.service-article-photo-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;

}

.service-article-title {
    font-size: 19px;
    line-height: 26px;
    color: white;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
}

.service-article-text {
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    line-height: 19px;
    font-weight: 300;
    color: #B2B2B2;
    font-family: 'Open Sans', sans-serif;
}

.service-article-btn {
    border: 2px solid #F35044;
    color: #F35044;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    line-height: 19px;
    padding: 11px 29px 10px 29px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

 /* service end */




/* contact form begin */

.contact-section {
    display: flex;
    background-color: #b3d4fc;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 65px 0;
}

.contact_image_and_form img{
    width: 444px;
}
.contact-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    color: black;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.contact_image_and_form {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 35px;
}


.my_form {
    display: flex;
    background-color: #efeff8;
    width: 444px;
}

.my_form input {
    width: 444px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    box-shadow: 0px 1px 6px #FF00004D;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    padding: 8px 12px 8px 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.my_form input:focus {
    outline: none !important;
    border-color: #FF0000;
    box-shadow: 0px 1px 6px #FF00004D;
}

.my_form input::placeholder {
    color: #B2B2B2;
    font-style: italic;
}

.my_form textarea::placeholder {
    color: #B2B2B2;
    font-style: italic;
}

.my_form textarea{
    width: 100%;
    resize: none;
    min-height: 140px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    box-shadow: 0px 1px 6px #FF00004D;
    font-size: 16px;
    font-style: italic;
    font-family: "Nunito Sans", sans-serif;
    line-height: 20px;
    color: #B2B2B2;
    padding: 8px 12px;
}

.my_form textarea:focus {
    outline: none !important;
    border-color: #FF0000;
    box-shadow: 0px 1px 6px #FF00004D;
}



/* contact form end */



.contact-btn-submit {
    border: 1px solid;
    border-color: var(--primary-color);
    border-radius: 50px;
    font-size: 16px;
    line-height: 22px;
    padding: 11px 52px;
    text-transform:   uppercase ;
    font-family: "Nunito Sans", sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow:  0px 3px 6px #FF00004D;
    font-weight: 400;
}

.contact-btn-row{
    padding-top:20px;
    display: flex;
    justify-content: end;
}













/* footer */
.footer-logo-bar {
    padding-top: 20px;
    padding-bottom: 22px;
    display: flex;
    justify-content: left;
    padding-right: 8px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 25px;
    line-height: 34px;
    font-weight:700;
    color: var(--secondary-color);
}

.footer-logo-bar span{
    padding-right: 8px;
    padding-left: 8px;
    color: var(--primary-color);
}
.page-footer {
    background-color: #28272C;
}

.page-footer-nav {
    display: flex;
    padding-bottom: 40px;
}

.footer-nav-list{
    flex-basis: 25%;
}

.footer-nav-list li a{
    color: white;
    display: inline-block;
    padding: 7px 0px;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    text-transform: uppercase;
}



.page-footer-nav p{
    flex-basis: 50%;
    text-align: right;
    align-self: flex-end;
    color: #D1D1D1;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    font-family: "Nunito Sans", sans-serif;
}

.footer-nav-list li a:hover {
    color: var(--primary-color);
    /*background-color: rgba(255,255,255,0.5);*/
}