@use "grid";
body {
  //background-color: red;
}

.r1 {
  background-color: yellow;
}

.r2 {
  background-color: greenyellow;
}

.r3 {
  background-color: gold;
}

.r4 {
  background-color: orange;
}

.r6 {
  background-color: tomato;
}

img{
  width: 100%;
  height: auto;
}