html, body {
  height: 100%;
}

body {
  background: black;
  min-height: 100%;
  overflow: hidden;
}

@-webkit-keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px);
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px);
  }
}
.container {
  position: relative;
  width: 100%;
  min-height: 100%;
  transform-style: preserve-3d;
}

.bubble-wrap {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 600px;
}

.bubble {
  position: absolute;
  background: black;
  opacity: 0.7;
  border-radius: 50%;
  -webkit-animation: move 3s infinite;
          animation: move 3s infinite;
}

.bubble:nth-child(1) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(925px, 253px, 544px);
  background: #26d0d9;
}

.bubble:nth-child(2) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(848px, 704px, 700px);
  background: #26d92f;
}

.bubble:nth-child(3) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(812px, 723px, 1063px);
  background: #d9269d;
}

.bubble:nth-child(4) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(102px, 727px, 912px);
  background: #d9a326;
}

.bubble:nth-child(5) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(953px, 764px, 403px);
  background: #26b2d9;
}

.bubble:nth-child(6) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(567px, 528px, 661px);
  background: #9426d9;
}

.bubble:nth-child(7) {
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  transform: translate3d(478px, 120px, 66px);
  background: #26b8d9;
}

.bubble:nth-child(8) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(520px, 22px, 1150px);
  background: #62d926;
}

.bubble:nth-child(9) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(395px, 61px, 1472px);
  background: #b2d926;
}

.bubble:nth-child(10) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(165px, 375px, 1269px);
  background: #d9267a;
}

.bubble:nth-child(11) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(350px, 970px, 1824px);
  background: #26d980;
}

.bubble:nth-child(12) {
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(663px, 956px, 950px);
  background: #26d956;
}

.bubble:nth-child(13) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(710px, 113px, 1377px);
  background: #d3d926;
}

.bubble:nth-child(14) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(6px, 708px, 919px);
  background: #85d926;
}

.bubble:nth-child(15) {
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(55px, 257px, 1191px);
  background: #5626d9;
}

.bubble:nth-child(16) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(367px, 502px, 1855px);
  background: #6e26d9;
}

.bubble:nth-child(17) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(571px, 915px, 1311px);
  background: #5cd926;
}

.bubble:nth-child(18) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(593px, 403px, 224px);
  background: #ca26d9;
}

.bubble:nth-child(19) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(810px, 824px, 1612px);
  background: #26d938;
}

.bubble:nth-child(20) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(550px, 958px, 1789px);
  background: #26d98b;
}

.bubble:nth-child(21) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  transform: translate3d(180px, 81px, 214px);
  background: #2650d9;
}

.bubble:nth-child(22) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  transform: translate3d(286px, 846px, 74px);
  background: #a0d926;
}

.bubble:nth-child(23) {
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  transform: translate3d(307px, 110px, 1530px);
  background: #9dd926;
}

.bubble:nth-child(24) {
  height: 18px;
  width: 18px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform: translate3d(448px, 107px, 1651px);
  background: #d94126;
}

.bubble:nth-child(25) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  transform: translate3d(284px, 953px, 1861px);
  background: #32d926;
}

.bubble:nth-child(26) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  transform: translate3d(393px, 411px, 1306px);
  background: #d926af;
}

.bubble:nth-child(27) {
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  transform: translate3d(327px, 122px, 1554px);
  background: #26b2d9;
}

.bubble:nth-child(28) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  transform: translate3d(609px, 463px, 278px);
  background: #d9ca26;
}

.bubble:nth-child(29) {
  height: 28px;
  width: 28px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  transform: translate3d(507px, 665px, 602px);
  background: #35d926;
}

.bubble:nth-child(30) {
  height: 26px;
  width: 26px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  transform: translate3d(903px, 452px, 649px);
  background: #26d941;
}

.bubble:nth-child(31) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -6.2s;
          animation-delay: -6.2s;
  transform: translate3d(233px, 535px, 352px);
  background: #268ed9;
}

.bubble:nth-child(32) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
  transform: translate3d(519px, 606px, 554px);
  background: #26d938;
}

.bubble:nth-child(33) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -6.6s;
          animation-delay: -6.6s;
  transform: translate3d(584px, 677px, 782px);
  background: #26d9ac;
}

.bubble:nth-child(34) {
  height: 28px;
  width: 28px;
  -webkit-animation-delay: -6.8s;
          animation-delay: -6.8s;
  transform: translate3d(83px, 810px, 1376px);
  background: #44d926;
}

.bubble:nth-child(35) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  transform: translate3d(702px, 894px, 338px);
  background: #266bd9;
}

.bubble:nth-child(36) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -7.2s;
          animation-delay: -7.2s;
  transform: translate3d(617px, 735px, 856px);
  background: #4ad926;
}

.bubble:nth-child(37) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -7.4s;
          animation-delay: -7.4s;
  transform: translate3d(173px, 62px, 144px);
  background: #d9263b;
}

.bubble:nth-child(38) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -7.6s;
          animation-delay: -7.6s;
  transform: translate3d(845px, 943px, 1988px);
  background: #d9b526;
}

.bubble:nth-child(39) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -7.8s;
          animation-delay: -7.8s;
  transform: translate3d(948px, 24px, 1500px);
  background: #d95f26;
}

.bubble:nth-child(40) {
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
  transform: translate3d(422px, 478px, 1128px);
  background: #26d95c;
}

.bubble:nth-child(41) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -8.2s;
          animation-delay: -8.2s;
  transform: translate3d(114px, 260px, 2000px);
  background: #26a0d9;
}

.bubble:nth-child(42) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -8.4s;
          animation-delay: -8.4s;
  transform: translate3d(880px, 136px, 223px);
  background: #d93e26;
}

.bubble:nth-child(43) {
  height: 22px;
  width: 22px;
  -webkit-animation-delay: -8.6s;
          animation-delay: -8.6s;
  transform: translate3d(905px, 237px, 1272px);
  background: #2650d9;
}

.bubble:nth-child(44) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -8.8s;
          animation-delay: -8.8s;
  transform: translate3d(76px, 972px, 1240px);
  background: #26d994;
}

.bubble:nth-child(45) {
  height: 30px;
  width: 30px;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
  transform: translate3d(479px, 801px, 249px);
  background: #d9be26;
}

.bubble:nth-child(46) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -9.2s;
          animation-delay: -9.2s;
  transform: translate3d(20px, 838px, 1459px);
  background: #d9c126;
}

.bubble:nth-child(47) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -9.4s;
          animation-delay: -9.4s;
  transform: translate3d(811px, 551px, 1815px);
  background: #d92641;
}

.bubble:nth-child(48) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -9.6s;
          animation-delay: -9.6s;
  transform: translate3d(167px, 92px, 1323px);
  background: #d9ac26;
}

.bubble:nth-child(49) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -9.8s;
          animation-delay: -9.8s;
  transform: translate3d(152px, 376px, 147px);
  background: #26d97d;
}

.bubble:nth-child(50) {
  height: 30px;
  width: 30px;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  transform: translate3d(148px, 787px, 978px);
  background: #26d982;
}

.bubble:nth-child(51) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -10.2s;
          animation-delay: -10.2s;
  transform: translate3d(936px, 518px, 388px);
  background: #d9af26;
}

.bubble:nth-child(52) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -10.4s;
          animation-delay: -10.4s;
  transform: translate3d(377px, 709px, 1931px);
  background: #62d926;
}

.bubble:nth-child(53) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -10.6s;
          animation-delay: -10.6s;
  transform: translate3d(699px, 318px, 1372px);
  background: #26d98e;
}

.bubble:nth-child(54) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -10.8s;
          animation-delay: -10.8s;
  transform: translate3d(991px, 526px, 623px);
  background: #d97a26;
}

.bubble:nth-child(55) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -11s;
          animation-delay: -11s;
  transform: translate3d(327px, 976px, 343px);
  background: #4d26d9;
}

.bubble:nth-child(56) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -11.2s;
          animation-delay: -11.2s;
  transform: translate3d(381px, 338px, 1055px);
  background: #269dd9;
}

.bubble:nth-child(57) {
  height: 29px;
  width: 29px;
  -webkit-animation-delay: -11.4s;
          animation-delay: -11.4s;
  transform: translate3d(159px, 35px, 928px);
  background: #26d9d0;
}

.bubble:nth-child(58) {
  height: 20px;
  width: 20px;
  -webkit-animation-delay: -11.6s;
          animation-delay: -11.6s;
  transform: translate3d(629px, 322px, 288px);
  background: #2680d9;
}

.bubble:nth-child(59) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -11.8s;
          animation-delay: -11.8s;
  transform: translate3d(954px, 69px, 578px);
  background: #d92644;
}

.bubble:nth-child(60) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -12s;
          animation-delay: -12s;
  transform: translate3d(155px, 386px, 1769px);
  background: #26d9a6;
}

.bubble:nth-child(61) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -12.2s;
          animation-delay: -12.2s;
  transform: translate3d(141px, 304px, 219px);
  background: #b526d9;
}

.bubble:nth-child(62) {
  height: 23px;
  width: 23px;
  -webkit-animation-delay: -12.4s;
          animation-delay: -12.4s;
  transform: translate3d(675px, 247px, 400px);
  background: #d926cd;
}

.bubble:nth-child(63) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -12.6s;
          animation-delay: -12.6s;
  transform: translate3d(509px, 863px, 1369px);
  background: #2682d9;
}

.bubble:nth-child(64) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -12.8s;
          animation-delay: -12.8s;
  transform: translate3d(528px, 614px, 534px);
  background: #264ad9;
}

.bubble:nth-child(65) {
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  transform: translate3d(356px, 409px, 87px);
  background: #cad926;
}

.bubble:nth-child(66) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -13.2s;
          animation-delay: -13.2s;
  transform: translate3d(283px, 797px, 1516px);
  background: #d9bb26;
}

.bubble:nth-child(67) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -13.4s;
          animation-delay: -13.4s;
  transform: translate3d(881px, 298px, 318px);
  background: #2632d9;
}

.bubble:nth-child(68) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -13.6s;
          animation-delay: -13.6s;
  transform: translate3d(190px, 208px, 1645px);
  background: #bbd926;
}

.bubble:nth-child(69) {
  height: 12px;
  width: 12px;
  -webkit-animation-delay: -13.8s;
          animation-delay: -13.8s;
  transform: translate3d(268px, 159px, 1223px);
  background: #d626d9;
}

.bubble:nth-child(70) {
  height: 22px;
  width: 22px;
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
  transform: translate3d(104px, 855px, 1530px);
  background: #3226d9;
}

.bubble:nth-child(71) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -14.2s;
          animation-delay: -14.2s;
  transform: translate3d(16px, 962px, 1707px);
  background: #d98526;
}

.bubble:nth-child(72) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -14.4s;
          animation-delay: -14.4s;
  transform: translate3d(387px, 591px, 206px);
  background: #2647d9;
}

.bubble:nth-child(73) {
  height: 13px;
  width: 13px;
  -webkit-animation-delay: -14.6s;
          animation-delay: -14.6s;
  transform: translate3d(960px, 334px, 621px);
  background: #d93526;
}

.bubble:nth-child(74) {
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -14.8s;
          animation-delay: -14.8s;
  transform: translate3d(694px, 629px, 1355px);
  background: #d926b5;
}

.bubble:nth-child(75) {
  height: 26px;
  width: 26px;
  -webkit-animation-delay: -15s;
          animation-delay: -15s;
  transform: translate3d(90px, 316px, 1940px);
  background: #266ed9;
}

.bubble:nth-child(76) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -15.2s;
          animation-delay: -15.2s;
  transform: translate3d(78px, 662px, 1030px);
  background: #2694d9;
}

.bubble:nth-child(77) {
  height: 15px;
  width: 15px;
  -webkit-animation-delay: -15.4s;
          animation-delay: -15.4s;
  transform: translate3d(83px, 346px, 1485px);
  background: #8bd926;
}

.bubble:nth-child(78) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -15.6s;
          animation-delay: -15.6s;
  transform: translate3d(68px, 463px, 487px);
  background: #8bd926;
}

.bubble:nth-child(79) {
  height: 24px;
  width: 24px;
  -webkit-animation-delay: -15.8s;
          animation-delay: -15.8s;
  transform: translate3d(547px, 41px, 361px);
  background: #2635d9;
}

.bubble:nth-child(80) {
  height: 29px;
  width: 29px;
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
  transform: translate3d(483px, 248px, 883px);
  background: #d97726;
}

.bubble:nth-child(81) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -16.2s;
          animation-delay: -16.2s;
  transform: translate3d(73px, 859px, 1933px);
  background: #269dd9;
}

.bubble:nth-child(82) {
  height: 24px;
  width: 24px;
  -webkit-animation-delay: -16.4s;
          animation-delay: -16.4s;
  transform: translate3d(705px, 350px, 1998px);
  background: #2641d9;
}

.bubble:nth-child(83) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -16.6s;
          animation-delay: -16.6s;
  transform: translate3d(308px, 141px, 894px);
  background: #d92656;
}

.bubble:nth-child(84) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -16.8s;
          animation-delay: -16.8s;
  transform: translate3d(442px, 325px, 103px);
  background: #d9ca26;
}

.bubble:nth-child(85) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -17s;
          animation-delay: -17s;
  transform: translate3d(246px, 709px, 1852px);
  background: #26b5d9;
}

.bubble:nth-child(86) {
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -17.2s;
          animation-delay: -17.2s;
  transform: translate3d(124px, 256px, 993px);
  background: #269dd9;
}

.bubble:nth-child(87) {
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -17.4s;
          animation-delay: -17.4s;
  transform: translate3d(792px, 22px, 1456px);
  background: #d926d0;
}

.bubble:nth-child(88) {
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -17.6s;
          animation-delay: -17.6s;
  transform: translate3d(267px, 477px, 393px);
  background: #d99426;
}

.bubble:nth-child(89) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -17.8s;
          animation-delay: -17.8s;
  transform: translate3d(996px, 132px, 1504px);
  background: #8e26d9;
}

.bubble:nth-child(90) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -18s;
          animation-delay: -18s;
  transform: translate3d(335px, 887px, 1134px);
  background: #7726d9;
}

.bubble:nth-child(91) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -18.2s;
          animation-delay: -18.2s;
  transform: translate3d(120px, 978px, 162px);
  background: #2626d9;
}

.bubble:nth-child(92) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -18.4s;
          animation-delay: -18.4s;
  transform: translate3d(515px, 82px, 527px);
  background: #d98e26;
}

.bubble:nth-child(93) {
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -18.6s;
          animation-delay: -18.6s;
  transform: translate3d(313px, 967px, 302px);
  background: #41d926;
}

.bubble:nth-child(94) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -18.8s;
          animation-delay: -18.8s;
  transform: translate3d(671px, 18px, 582px);
  background: #2665d9;
}

.bubble:nth-child(95) {
  height: 30px;
  width: 30px;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
  transform: translate3d(469px, 780px, 1936px);
  background: #26d929;
}

.bubble:nth-child(96) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -19.2s;
          animation-delay: -19.2s;
  transform: translate3d(25px, 979px, 1149px);
  background: #d92688;
}

.bubble:nth-child(97) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -19.4s;
          animation-delay: -19.4s;
  transform: translate3d(182px, 280px, 1273px);
  background: #d9d326;
}

.bubble:nth-child(98) {
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -19.6s;
          animation-delay: -19.6s;
  transform: translate3d(589px, 671px, 1071px);
  background: #26d974;
}

.bubble:nth-child(99) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -19.8s;
          animation-delay: -19.8s;
  transform: translate3d(686px, 277px, 1534px);
  background: #d926d3;
}

.bubble:nth-child(100) {
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
  transform: translate3d(949px, 809px, 682px);
  background: #d9262f;
}/*# sourceMappingURL=main.css.map */