.exercise1 {
  display: flex;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-grow: 1;
}

.test1 {
  background: #FF6347;
}

.test2 {
  background: #9370DB;
}

.test3 {
  background: #00FA9A;
}

.loading2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-right-color: #fff;
  -webkit-animation: loading2 0.7s 0s infinite linear;
          animation: loading2 0.7s 0s infinite linear;
}

@-webkit-keyframes loading2 {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes loading2 {
  100% {
    transform: rotate(1turn);
  }
}
.loading1 {
  width: 20px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.loading1::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
  display: block;
  margin: 3px auto;
  border-radius: 50%;
  -webkit-animation: loading1-anim 1s 0s infinite alternate ease-in-out;
          animation: loading1-anim 1s 0s infinite alternate ease-in-out;
}

@-webkit-keyframes loading1-anim {
  0% {
    margin-top: 3px;
  }
  50% {
    height: 20px;
  }
  100% {
    margin-top: 22px;
  }
}

@keyframes loading1-anim {
  0% {
    margin-top: 3px;
  }
  50% {
    height: 20px;
  }
  100% {
    margin-top: 22px;
  }
}
.loading3 {
  display: flex;
  width: 80px;
  height: 50px;
}
.loading3 span {
  background-color: #fff;
  border-radius: 5px;
  margin: 1px;
  flex: 1;
  -webkit-animation: loading3-anim 1s 0s infinite alternate both;
          animation: loading3-anim 1s 0s infinite alternate both;
  transform-origin: center bottom;
}
.loading3 span:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading3 span:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loading3 span:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.loading3 span:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.loading3 span:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.loading3 span:nth-child(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.loading3 span:nth-child(7) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.loading3 span:nth-child(8) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.loading3 span:nth-child(9) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.loading3 span:nth-child(10) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.loading3 span:nth-child(11) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
.loading3 span:nth-child(12) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
.loading3 span:nth-child(13) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
.loading3 span:nth-child(14) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}
.loading3 span:nth-child(15) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes loading3-anim {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes loading3-anim {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
.exercise2 {
  display: flex;
  padding: 100px;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}

.red-button {
  padding: 20px 40px;
  color: crimson;
  border-radius: 40px;
  border: 0;
  margin: 10px;
  text-transform: uppercase;
  background: none;
  box-shadow: inset 0 0 0 3px crimson;
  cursor: pointer;
}

.red-button:hover {
  color: white;
  box-shadow: inset 0 0 0 30px crimson, 0 0 0 5px rgba(220, 20, 60, 0.4);
}

.blue-button {
  padding: 20px 40px;
  background: dodgerblue;
  border-radius: 5px;
  border: 0;
  color: #fff;
  margin: 10px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.blue-button::before, .blue-button::after {
  content: "";
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: 0.9;
  transition: 0.5s;
}
.blue-button::before {
  background: red;
  transform: translate(-50%, -50%) scale(0);
  top: 0;
  left: 0;
}
.blue-button::after {
  background: gold;
  transform: translate(50%, 50%) scale(0);
  right: 0;
  bottom: 0;
}
.blue-button span {
  z-index: 1;
  position: relative;
}

.blue-button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
.blue-button:hover::after {
  transform: translate(50%, 50%) scale(1);
}

.green-button {
  padding: 20px 40px;
  background: #2FEB73;
  border: 0;
  color: #fff;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.green-button span {
  position: relative;
  z-index: 1;
}
.green-button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 150px;
  stroke: green;
  stroke-width: 45px;
  stroke-dasharray: 7000px;
  stroke-dashoffset: 7000px;
  transition: 3s;
}

.green-button:hover svg {
  stroke-dashoffset: 0px;
}

.portfolio-projects {
  background: #fafafa;
  padding: 100px 20px;
}
.portfolio-projects-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 800px) {
  .portfolio-projects-list {
    flex-wrap: wrap;
  }
}

.project {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 10px;
}
@media (max-width: 800px) {
  .project {
    width: 100%;
  }
}
.project-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: sans-serif;
  overflow: hidden;
  width: 100%;
}
.project-img {
  width: 100%;
  display: block;
  transition: 1s;
}
.project-overflow {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgba(68, 68, 68, 0.6), rgba(68, 68, 68, 0.8));
}
.project-title {
  font-weight: bold;
  font-size: 16px;
  opacity: 0;
  transition: 1s;
}
.project-text {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: 1s;
}

.project-link:hover .project-img {
  transform: rotate(10deg);
}
.project-link:hover .project-overflow .project-title {
  font-size: 24px;
  text-transform: uppercase;
  color: gold;
  opacity: 1;
}
.project-link:hover .project-overflow .project-text {
  color: white;
  opacity: 1;
}/*# sourceMappingURL=main.css.map */