body {
  margin: 0;
  padding: 0;
}

.board {
  height: 100vh;
  min-height: 800px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background: rgb(0, 0, 0) url(../images/board-bg.jpg) center bottom;

  .zombie {

    width: 200px;
    height: 312px;
    // border:1px solid red;
    background-image: url("../images/walkingdead.png");
    animation: anim 1s 0s infinite steps(9), 
               walk 10s 0s infinite linear  ;
    position: absolute;
    bottom: 100px;
    left:100%;
  }
  .zombie:nth-child(2) {
    animation-delay: 0s, 0.5s ;
    animation-duration: 0.5s, 7s ;
    bottom: 80px;
  }
  .zombie:nth-child(3) {
    animation-delay: 1s, 1s ;
    animation-duration: 1.5s, 12s;
    bottom: 120px;
  }  
  @keyframes anim {
    100% {
      background-position-x: -1800px;
    }
  }
  @keyframes walk {
    0% {
      left:100%;
      transform:scale(1,1);      
    }
    50%{
      left:-200px;
      transform:scale(1,1);
    }
    50.00001%{
      left:-200px;
      transform:scale(-1,1);
    }    
    100% {
      left:100%;
      transform:scale(-1,1);
    }
  }
}

