* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@-webkit-keyframes fire {
  50% {
    transform: translate(-50%, 0) scale(0.9, 1);
  }
  100% {
    transform: translate(-50%, 0) scale(1, 0.9);
  }
}

@keyframes fire {
  50% {
    transform: translate(-50%, 0) scale(0.9, 1);
  }
  100% {
    transform: translate(-50%, 0) scale(1, 0.9);
  }
}
.container {
  width: 100vw;
  height: 100vh;
  background: #122b47;
  background: url(../images/stars.png), linear-gradient(180deg, #122b47 0%, #121425 51%, #2e1936 100%);
  position: relative;
  background-size: 200px 200px, cover;
  min-width: 1200px;
  min-height: 800px;
}

.rocket {
  width: 89px;
  height: 150px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.rocket span {
  display: block;
  background: url(../images/rocket.png);
  width: 89px;
  height: 150px;
  position: relative;
  z-index: 1;
}
.rocket.fly {
  -webkit-animation: rakieta_lot0 2s 0s 1 linear forwards, rakieta_rot1 1s 2s 1 linear forwards, rakieta_lot1 4s 3s 1 linear forwards, rakieta_rot2 1s 7s 1 linear forwards, rakieta_lot2 2s 8s 1 linear forwards, rakieta_rot3 1s 10s 1 linear forwards, rakieta_lot3 4s 11s 1 linear forwards, rakieta_rot4 1s 15s 1 linear forwards, rakieta_lot4 2s 16s 1 linear forwards;
          animation: rakieta_lot0 2s 0s 1 linear forwards, rakieta_rot1 1s 2s 1 linear forwards, rakieta_lot1 4s 3s 1 linear forwards, rakieta_rot2 1s 7s 1 linear forwards, rakieta_lot2 2s 8s 1 linear forwards, rakieta_rot3 1s 10s 1 linear forwards, rakieta_lot3 4s 11s 1 linear forwards, rakieta_rot4 1s 15s 1 linear forwards, rakieta_lot4 2s 16s 1 linear forwards;
}
.rocket.fly::after {
  content: "";
  background: url(../images/fire.png);
  background-size: cover;
  width: 42px;
  height: 67px;
  position: absolute;
  left: 50%;
  top: 87%;
  transform: translate(-50%, 0);
  -webkit-animation: fire 0.1s 0s infinite alternate;
          animation: fire 0.1s 0s infinite alternate;
  transform-origin: 50% 0;
  z-index: 0;
}
@-webkit-keyframes rakieta_lot0 {
  to {
    left: 150px;
    top: 100px;
  }
}
@keyframes rakieta_lot0 {
  to {
    left: 150px;
    top: 100px;
  }
}
@-webkit-keyframes rakieta_rot1 {
  to {
    transform: rotate(90deg);
  }
}
@keyframes rakieta_rot1 {
  to {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes rakieta_lot1 {
  to {
    left: calc(100% - 350px);
    top: 150px;
  }
}
@keyframes rakieta_lot1 {
  to {
    left: calc(100% - 350px);
    top: 150px;
  }
}
@-webkit-keyframes rakieta_rot2 {
  to {
    transform: rotate(180deg);
  }
}
@keyframes rakieta_rot2 {
  to {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes rakieta_lot2 {
  to {
    left: calc(100% - 460px);
    top: calc(100% - 350px);
  }
}
@keyframes rakieta_lot2 {
  to {
    left: calc(100% - 460px);
    top: calc(100% - 350px);
  }
}
@-webkit-keyframes rakieta_rot3 {
  to {
    transform: rotate(270deg);
  }
}
@keyframes rakieta_rot3 {
  to {
    transform: rotate(270deg);
  }
}
@-webkit-keyframes rakieta_lot3 {
  to {
    left: 200px;
    top: calc(100% - 300px);
  }
}
@keyframes rakieta_lot3 {
  to {
    left: 200px;
    top: calc(100% - 300px);
  }
}
@-webkit-keyframes rakieta_rot4 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rakieta_rot4 {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rakieta_lot4 {
  to {
    left: 150px;
    top: 100px;
  }
}
@keyframes rakieta_lot4 {
  to {
    left: 150px;
    top: 100px;
  }
}

.planet1 {
  position: absolute;
  background: url(../images/planet1.png);
  width: 228px;
  height: 229px;
  left: 150px;
  top: 100px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(176, 22, 4, 0.4), 0 0 100px rgba(249, 149, 34, 0.2);
}

.planet2 {
  position: absolute;
  background: url(../images/planet2.png);
  width: 201px;
  height: 201px;
  left: calc(100% - 350px);
  top: 150px;
}

.planet3 {
  position: absolute;
  background: url(../images/planet3.png);
  width: 257px;
  height: 246px;
  left: calc(100% - 460px);
  top: calc(100% - 350px);
}

.planet4 {
  position: absolute;
  background: url(../images/planet4.png);
  width: 225px;
  height: 225px;
  left: 200px;
  top: calc(100% - 300px);
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(247, 215, 76, 0.2);
}
/*# sourceMappingURL=main.css.map */
